POSTGRES_USER=smatway
POSTGRES_PASSWORD=smatway
POSTGRES_DB=smatway

DATABASE_URL=postgresql://smatway:smatway@localhost:5432/smatway?schema=public
REDIS_URL=redis://localhost:6379
NEXT_PUBLIC_API_BASE_URL=http://localhost:3002

API_PORT=3002
WEB_PORT=3000
ADMIN_PORT=3001
